# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Django stuff
*.log
db.sqlite3
local_settings.py

# Virtual environments
.env
venv/
.envrc

# Editor/IDE
.vscode/
.idea/

# Node / Frontend
node_modules/
build/
